<div class="center form">

  <h3>Ajouter un nouveau employée</h3>

  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input [(ngModel)]="emp.name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Username</label>
    <input [(ngModel)]="emp.username" type="text" class="form-control" id="exampleInputPassword1" placeholder="username">
  </div>
 
  <button  type="submit" class="btn btn-primary" (click)="add()">Enregistrer</button>
</div>